body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th {
  font-size: 1.1rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.deleteAll {
  display: inline-block !important;
  float: right !important;
  cursor: pointer;
  padding-top: 0.25rem;
}

.deleteWM {
  display: inline-block !important;
  cursor: pointer;
  padding-top: 0.27rem;
  /*float: right !important;*/
}

.deleteBS {
  display: inline-block !important;
  cursor: pointer;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  /*float: right !important;*/
}
